{% extends "::base.html.twig" %}

{% block title %}

    ZWiK Ciechanów

{% endblock %}

{% block content %}


    <h1>Hello World!</h1>

{#    {{render(controller('MngrBundle:Employee:new'))}}#}
{{form_start(formEmp)}}
{{form_widget(formEmp)}}
<input type="submit" value="Create" />
{{form_end(formEmp)}}


    {% block table %}
        <table style="width:100%" border="solid">
            <tr>
                <th>rok</th>
            </tr>
            <tr>
                <th>dzień miesiąca</th>
                    {%for i in 1..31%}
                    <th>{{i}}</th>
                    {%endfor%}
            </tr>
            {%for employee in employees%}
                <tr>
                    <td>{{employee.name}} {{employee.surname}}</td>
                    {%for i in 1..31%}
                        <td>{{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                            !
                        </td>
                        {%endfor%}
                </tr>
            {%endfor%}

        </table> 

    {% endblock %}

    {#                {{render(controller('MngrBundle:Employee:index'))}}#}


{% endblock %}